<h1>Editing conta corrente</h1>

<%= render "form", conta_corrente: @conta_corrente %>

<br>

<div>
  <%= link_to "Show this conta corrente", @conta_corrente %> |
  <%= link_to "Back to conta correntes", conta_correntes_path %>
</div>
